* {
margin: 0; 
padding: 0;
}


/*Section inicio*/
.bg-color {
    background-color: skyblue;
}

.navbar-nav {
    align-items: center;
}

.collapse{
justify-content: space-around;
}

.navbar-brand{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: purple;
        
}

h1 {
    color: purple;}


.block-container {
    
    margin: 30px;
}

.titulo {
align-items: center;
}

.contenido {
    border: 3px solid black;
    display: inline-block;
    padding: 20px;
    background-color: pink;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}

.final{
    background-color: skyblue;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}


.menu1-container {
    background-color: pink;
    border: 3px solid black;
    display: inline-block;
    padding: 20px;
}

.menu2 {
    color: blueviolet;
    text-align: center;
}

.promociones1 {
    color: blueviolet;
    text-align: center;
}

.promocion1{
    align-items: center;
    justify-items: center;
}

.promociones-container {
    background-color: pink;
    border: 3px solid black;
    display: inline-block;
    padding: 20px;
    
}

.carousel{
    justify-content: center;
}

.nosotros-container {
    background-color: pink;
    border: 3px solid black;
    display: inline-block;
    padding: 20px;
}

.nosotros1 {
    color: blueviolet;
    text-align: center;
    
}

.video1 {
    text-align: center;
}

.contacto-container {
    background-color: pink;
    border: 3px solid black;
    display: inline-block;
    padding: 20px;
}

.contacto1 {
    color: blueviolet;
    text-align: center;
    
}
