header {
    background-color: skyblue;
    .navbar-nav {
        align-items: center;
        justify-content: space-around;
        }
        .collapse {
            justify-content: center;
    }
}